# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Multiplateform Conference
tagline: Website for Multiplateform Conference
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  The multiplateform conference is an international event that aims to gather speakers talking about various
  technologies in any kind of multiplatform programming. This french and english multiplatform conference is online.
#baseurl: "/home" # the subpath of your site, e.g. /blog
#url: https://everywhereconf.github.io # the base hostname & protocol for your site, e.g. http://example.com
logo: https://everywhereconf.github.io/assets/img/logo-everywhere.jpg
author:
  name: everywhereconf
  twitter: everywhereconf
twitter_username: everywhereconf
github_username:  everywhereconf

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-multiple-languages-plugin
  - jekyll-seo-tag

languages: ["fr", "en"]
#exclude_from_localizations: ["assets"]
#default_locale_in_subfolder: true
defaultLang: fr
languageNames:
  fr: French
  en: English

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
